body{
    overflow-x: hidden;

}
.glass{
   background: rgba(255, 255, 255, 0);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(11.8px);
   -webkit-backdrop-filter: blur(11.8px);
}
.rb{
    border: 1px sloid #FE34B9;
}
.sh{
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.266);
}
.bac{
    background-color: #150E28;
}
.bb{
    width:100% ;
    border-bottom: 1px solid #D434FE;
}
.foot{
    background-color: #100B20;
}
.stroke{
    background-color: #D434FE;
    width: 4px;
}
.box{
     border: 1px solid #D434FE;
}
.time{
    /* border-radius: 26.5px; */
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}
.txt{
    color: #D434FE;
}
.br{
    border-bottom: 1px solid rgba(255, 255, 255, 0.127);
}
*{
 padding: 0px;
 margin: 0px;
 font-family: poppins;
}
.btn {
    border-radius: 4px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}
